.todos {
    width: 600px;
    margin: 0 auto;
    background-color: lightcyan;
}

.todos-header{
    display: flex;
    width: 100%;
}

.todos-input{
     flex: 1;
     position: relative;
     top: 0;
 }
 
.todos-input-input {
    width: 100%;
    box-sizing: border-box;
}
.todos-input-input-hint {
    background-color: lightgreen;
    position: absolute;
    /*border: 1px solid gray;*/
}


.todos-list-list {
    padding: 0 0;
}
.todos-list-item {
    display: flex;
    list-style-type: none;
}
.todos-list-item-text {
    flex: 1;
}
.todos-list-item-remove {    
    background-color: transparent;
    color: darkred;
    border: transparent;
    
    visibility: hidden;
}
.todos-list-item:hover .todos-list-item-remove {
    visibility: visible;
}

.todos-footer {
    display: flex;
    justify-content: space-between;
}
.todos-footer-btn {
    border: 2px solid darkcyan;
}